[defaults]
inventory = /runner/inventory
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent

[inventory]
enable_plugins = script

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/runner/ssh/known_hosts
