.header {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav-item {
  padding: 0 0.5rem;
  font-weight: bold;
}
